background: rgb(125,125,125);
background: -moz-linear-gradient(156deg, rgba(125,125,125,1) 25%, rgba(57,57,57,1) 55%, rgba(38,38,38,1) 83%);
background: -webkit-linear-gradient(156deg, rgba(125,125,125,1) 25%, rgba(57,57,57,1) 55%, rgba(38,38,38,1) 83%);
background: linear-gradient(156deg, rgba(125,125,125,1) 25%, rgba(57,57,57,1) 55%, rgba(38,38,38,1) 83%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d7d7d",endColorstr="#262626",GradientType=1); 
